{% extends "base.html" %}
{% load static %}

{%block title %}

{% endblock %}

{% block content %} 
<section class="container my-5">
    <h1 class="text-center">About Our Zoo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, mi a tristique tristique, ipsum dui tincidunt turpis, a porttitor ligula quam id turpis. Suspendisse potenti. Integer id feugiat justo. Proin ac augue eleifend, egestas mi at, efficitur risus. Nam ac lacus ac tortor fringilla volutpat vitae in mauris. Fusce tincidunt libero nec metus eleifend, id bibendum ex dapibus. Sed eleifend, odio in faucibus faucibus, felis turpis convallis mauris, et cursus mi risus non ligula. Duis id ante id sem finibus posuere. Fusce sit amet mauris et nisl dapibus sollicitudin ac a eros. Nulla ac sagittis ipsum, sed ullamcorper metus.</p>
    <p>Aliquam id lacus a justo varius luctus vitae eget odio. In malesuada felis eget massa dignissim vulputate. Nullam facilisis felis id metus viverra, in laoreet ipsum consequat. Sed lobortis lorem at tellus rutrum, a interdum sem bibendum. Sed ac metus purus. Nulla consequat sem sit amet gravida malesuada. Proin auctor semper felis, vel scelerisque turpis pharetra id. Aliquam erat volutpat. Cras id dolor dolor. Ut tempus condimentum luctus. Suspendisse euismod eleifend ex, eu semper justo pharetra ac. Ut pulvinar massa eu sem cursus, nec finibus tellus tincidunt. Etiam maximus efficitur aliquet.</p>
  </section>

  <footer class="bg-dark text-light text-center py-3">
    <p>&copy; 2023 Your Zoo. All rights reserved.</p>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}